@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 3rem;
    font-family: var(--font-family-1);
}

/* Variables */
:root{
    --brown:#4b1204;
    --yellow-color:#ffa10a;
    --text-color:#121212;
    --container-color:#efe8e0;
    --red:#a72e1b;
    --bg-color:#fff;
    --text-alter-color:#94908e;
    --font-family-1:"Raleway", sans-serif;  
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}
.container{
    max-width: 1400px;
    margin: auto;
    width: 100%;
}


